<html>
     <!DOCTYPE html>
    {% load staticfiles %}
    <head>
    <meta charset="utf-8">
        <title>TothText</title>
        
        <link rel = "stylesheet" href= "{% static 'page.css' %}" >
    </head>
   
        
    
    
    <header>
        <hr size="20" color=#225773>
        <a class="HomeButton" href = "{% url 'index' %}"><h1>ThothText</h1></a> 
        <hr size="20" color=#225773>
        <h1>{{book.title}}</h1>
        <hr size="20" color=#225773>
        <h2>{{page_title}}</h2>
        
    </header>
    <body>
        <!--
        <div>
            {% if prev_page != -1 %}
                <button1><a href="{% url 'book' bid=book.id pid=prev_page %}">Previous Page</a></button>
            {% endif %}
            {% if next_page != -1 %}
                <button1><a href="{% url 'book' bid=book.id pid=next_page %}">Next Page</a></button>
            {% endif %}
        </div>
        -->
        <div class ="arrowNav">
            <div class ="arrowLeft">
            {% if prev_page != -1 %}
                <button1><a href="{% url 'book' bid=book.id pid=prev_page %}">Previous Page</a></button>
            {% endif %}
            </div>
            <div class ="arrowRight">
            {% if next_page != -1 %}
                <button1><a href="{% url 'book' bid=book.id pid=next_page %}">Next Page</a></button>
            {% endif %}
        </div>
        </div>
        
        <div>
        {% for section in sections %}
        <div id="PageText">
            <h3>
                {{section.section_title}}
            </h3>
            <p>
                <div>
                {{section.text|safe}}
                </div>
            </p>
        </div>
        {% endfor %}
        </div>
        
    </body>
    <footer>
        <div>
            {% if user.is_authenticated %}
            <form action="{% url 'book' pid=page.page_num bid=book.id %}" method="post">
            {% csrf_token %}
            
            {{form.media}}
            {{form.as_p}}
            <input type="submit" value='Submit'>
            </form>
            
            {% else %}
            <a href = "{% url 'login' %}">Log In to make changes to this page!</a>
            {% endif %}
        </div>
    </footer>
</html>