<html>
    <script type="text/javascript" src="/static/jquery.min.js">
    </script>
    <!DOCTYPE html>
    {% load staticfiles %}
    <head>
    <meta charset="utf-8">
        <title>TothText</title>
        <link rel = "stylesheet" href= "{% static 'myCSS.css' %}" >
    </head>
    
    <ul>
        <li><a href="{% url 'home' %}"> <img style="height:50px" src = "{% static 'LOGO.png' %}"> </a></li>
    {% if user.is_authenticated %}
                     
        <li><a style="color:rgb(227, 176,0)" class = "active"> Hi, {{user.username}}</a></li>
        <li><a class = "active" href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
        <li><a href = "{% url 'login' %}?next={{request.get_full_path|urlencode}}">Log In </a></li>
    {% endif %}
                
                
                <li><a href="/#library"> Library </a></li>
                <li><a href="/#aboutus"> About Us </a></li>
                <li><a href="/#contactus"> Contact Us </a></li>
                <li><a>
                    <form type="get" action="{% url 'search' %}">
                    <input type="search" id="q" name="q" placeholder="Search..."/>
                    <input type="submit" class="submitBanner" value="Go!"/>
                    
                    </form>
                    <!--<form method="get" action="search">
                    <label style="color:orange" for="id_q">Search:</label>
                    <input type="text" name="q" id="id_q"/>
                    <input type="submit" class="submit" value="Go!"/>
                    </form>
                    -->
                    </a>
                </li>
                
    </ul>
    {% block head %}{% endblock %}
    {% block content %}{% endblock %}
    <footer> <div id="contactus" >Contact Us: priser@tulane.edu</div></footer>
</html>