<html>
    <header>
        <h1>Thoth Text</h1>
        <h2>The Textbook for the People by the People</h2>
    </header>
    <body>
        <div style="">
        <h1>Our Library</h1>
        {% for book in books %}
        <a href="{% url 'book' bid=book.id pid=001 %}">
            <div>
                <img style ="height:200px"src= "{{ book.cover.url }}"/>
                <h3>{{book.title}}</h3>
                <p>{{book.founder}}</p>
            </div>
        </a>
        {% endfor %}
        </div>
        
        
        
        <h1>SEND NUDES</h1>
    </body>
</html>