<!DOCTYPE html PUBLIC >
<html>
    {% load staticfiles %}
    <head>
    <meta charset="utf-8">
        <title>TothText</title>
        <link rel = "stylesheet" href= "{% static 'myCSS.css' %}" >
        
    </head>
    <header>
         <hr size="20" color=#225773>
            <div id="Intro">
                <h1>Thoth Text</h1>
            </div>
    </header>
    <body>
        <h2>{% block head %}{% endblock %}</h2>
        <div>
            {% block content %}{% endblock %}
        </div>
 
    </body>
</html>