{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  #sortable {
  margin: 1px;
  border: 1px solid #EEE;
  padding: 2px;
  list-style: none;
  width: 210px;
  background: #FFF;
}

#sortable li {
  padding: 3px;
  background: lightgrey;
  padding-left: 5px;
  margin: 2px;
  width: 200px;
  border-radius: 4px;
  color: red;
}
</style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'draggable.js' %}"></script>
  <script type="text/javascript">
  $(function() {
    $("#ret").button()
  $("#test2").button().click(function(e) {
    e.preventDefault();
    var serialOrder = $("#sortable").serialize();
    var arrayOrder = $("#sortable").sortable("toArray");
    
    $.ajax({
             type:"POST",
             url:"{% url 'editpage' bid=book.id pid=page.page_num %}",
             data: {
                    'order': JSON.stringify(arrayOrder) // insert ordering here
                    },
             success: function(){
               window.location.replace("{% url 'book' bid=book.id pid=page.page_num %}");
               
             }
        });
        return false;
  });
  $("#test1").button().click(function(e) {
    e.preventDefault();
    var serialOrder = $("#sortable").serialize();
    var arrayOrder = $("#sortable").sortable("toArray");
    
    $.ajax({
             type:"POST",
             url:"{% url 'editpage' bid=book.id pid=page.page_num %}",
             data: {
                    'order': JSON.stringify(arrayOrder) // insert ordering here
                    },
             success: function(){
               location.reload();
             }
        });
        return false;
  });
  $("#sortable").sortable();
});

</script>
</head>
<body>
    
    
    <h1>{{page.page_title}}</h1>
    <ul id="sortable">
        {% for section in sections.all %}
            <li id="{{section.order}}">{{section.order}}. {{section.section_title}}<a href="{% url 'editsection' pid=page.page_num bid=book.id sid=section.order %}">Edit this Section</a></li>
        {% endfor %}
      
    </ul>
    <a id= "ret" href="{% url 'book' pid=page.page_num bid=book.id %}">Exit without Saving</a>
    <a id="test1" href="{% url 'book' pid=page.page_num bid=book.id %}">Save</a>
    <a id="test2" href="{% url 'book' pid=page.page_num bid=book.id %}">Save and Exit</a>
     
     
</body>
{% endblock %}