/* myStyle.css */
/*General Body*/
body {
 font-family: Sans-serif;
 background-color: #ffffff;
 color:black ;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */

 
}


#Intro {
 border-bottom: thin solid black;
 
}
header, footer {
    padding: 25px;
    color: #e3b000;
    font-size: larger;
    clear: left;
    text-align: center;
    font-weight: bold;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 */
background: #596a72; /* Old browsers */
/*
background: -moz-linear-gradient(left, #596a72 0%, #cedce7 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(left, #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right, #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
}

h1{
    font-size: 55px;
    
}

h2{
    font-size:30px;
    padding-bottom: 10px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 30px;
    color: black;
}

p1{
    float:left;
    max-width: 50%;
}

p3{
 color: black
 ;   
}

/* Button for logging in maybe some other options?*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
   
   
}

li {
    float: left;
     /* 
     potentially leave a border?
     border:1px solid #bbb;
    */
    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    font: bold;
    font-weight: bold;
    min-height: 73px;
   /* background-color: #696969;*/
    
    
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: black;
}
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/**Making text parts of Website**/
.intro {
color: black;
font-size: small;
text-align: left;
background-color:white;
padding: 10px;
padding-bottom: 25px;
}


.middleTextVideo {
    
}




.containerBooks {
    background-color: white
 
}

.subsection{
    padding-top:  8px;
    color: #e3b000;
    background-color: #CCCCCC;
    clear: left;
    text-align: center;
    
    background: #596a72; /* Old browsers */
/*background: -moz-linear-gradient(left, #596a72 0%, #cedce7 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(left, #596a72 0%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right, #596a72 0%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 */
}


/*h1 {
 color: #ff9900;
 font-size: 45;
 text-align: center;
 font: bold 200%;
 padding: 0px;
 border-bottom: thin solid black;

 background-color: #f2f2f2;
}
h2{
 color: black;
 font-size: small;
 text-align: left;
}

h2::first-line{
 font-size:medium;
 font-style: oblique;
 text-align: center;
 
}*/

/*general paragraph*/

/*Basic css for images*/


#books

div.img {
    
}

.img:hover{
background-color: #e2e4ee
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing:  border-box;
}
.imgbox{
    
}
.responsive {
    padding: 6 6px;
    float: left;
    border: 1px solid black;
    width: 24.99999%;
    margin-right: 5px;
}

.responsive:hover{
    border: 8px solid black;
    background-color: #e2e4ee;
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*links for books*/
a.one {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a.one:link {
  color: white;
}

a.one:visited {
  color: #a8aab3;
}

a.one:focus {
  border-bottom: none;
  background: #e2e4ee;
}

a.one:hover {
  border-bottom: none;     
  background:  #e2e4ee;
   
}

a.one:active {
  background: #e2e4ee;
  color: #e2e4ee;
}








@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}






/*createing the css for links*/
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #66676c;
}

a:visited {
  color: #a8aab3;
}

a:focus {
  border-bottom: 1px solid;
  background: #e2e4ee;
  color: white;
}

a:hover {
  border-bottom: 1px solid;     
  background: #e2e4ee;
  color: white;
}

a:active {
  background: #e2e4ee;
  color: #e2e4ee;
}
.registerbutton a {
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

/*Login page*/
.boxp{
   
    z-index: -1;
    background-color:#f2f2f2;
    padding: 10px;
    width: 300px;
    border-bottom-style:  solid;
    border-right-style: solid;
    border-left-style: solid;
}
.boxt{
     z-index: -1;
    background-color:#f2f2f2 ;
    padding: 10px;
    width: 300px;
      border-top-style:  solid;
    border-right-style: solid;
    border-left-style: solid;
}



.submit{
    width: 70px;
    background-color: #e3b000;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover{
    background-color: gray;
}

.LoginB{
   
    background-color: #e3b000;
    padding: 5px 10px;
    margin: 8px 0;
    width: 80%;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitBanner{
    background-color: #e3b000;
    width: 70px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=hidden],select{
    width: 70px;
    background-color: #e3b000;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover{
    background-color: gray;
}

.inputsHidden {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

 a.register {
  outline: none;
  text-decoration: underline;
  padding: 2px 1px 0;
 
  
}

a.register:link {
  color: black;
}

a.register:visited {
  color: #a8aab3;
}

a.register:focus {
  border-bottom: none;
  background: #e2e4ee;
}

a.register:hover {
  border-bottom: none;     
  background:  #e3b000;
  color: Black;

   
}

a.register:active {
  background: #e2e4ee;
  color: #e2e4ee;
}
