/**page.css**/
/*General Body*/

#banner {
  
  top: 0px;
  left: 0px;
  width: 100%;
 position: absolute;
  padding-bottom: -5;
  margin: 0 auto; 
  background: #225773;
  color: #225773;
 
}


header {
 color: #e3b000;

 text-align: center;
font-size: 25px;
padding: 25px;
margin-bottom: 10px;

 font-weight: bold;
background: #596a72
}

h2{
color: #e3b000;
 font-size: 25;
 text-align: center;
 font: bold 100%;
 padding: 10px;
 border-bottom: thin solid black;
}

#PageText{
 width: 100%;
 padding: 12px 20px;
 border-radius: 4px;
 border: 3px solid black;
 color: gray;
 background-color: #f8f8f8;
 margin: 8px;   
 margin-bottom: 4px;
}



h3{
color: #e3b000;
 font-size: 25;
 text-align: left;
 font: bold 100%;
 padding: 10px;
 
}

p3{
font-family: Sans-serif;
 background-color: #ffffff;
 color: blue;
margin: 10px;
 
}



/** Working on buttons forward and back **/

.arrowLeft a {
text-decoration: none;

left: -5px;
top: 45%;
padding: 15px 10px;
transition: .2s ease-in;
position: absolute;
border-bottom-right-radius: 8px;
border-top-right-radius: 8px;
}
 
.arrowLeft a:hover {
left: 0;
transition: .2s ease-in;
color: #fff;
}
 
.arrowRight a {
text-decoration: none;

right: -5px;
top: 45%;
padding: 15px 10px;
border-bottom-left-radius:  8px;
border-top-left-radius: 8px;
transition: .2s ease-in;
position: absolute;
}
 
.arrowRight a:hover {
right: 0;
transition: .2s ease-in;
color: #fff;

content:'\00bb';

}
 

 
.arrowNav a {
text-decoration: none;
background:  #e3b000;
color:  #225773;
font-size: 16px;
}
.HomeButton{
 text-align: left;
position: absolute;
 text-decoration:none;
 color: #ff9900;
}

.editButton{
 background-color: #E5B719;
 font-size: 12px;
 padding: 7px 9px;
 text-decoration: none;
 border:none;
 display:inline-block;
 cursor: pointer;
 border-radius: 8px;
 

 
}

button:hover{
 color: white;
 
}