<html>
    {% extends "index.html" %}
 {% load staticfiles %}
<link rel = "stylesheet" href= "{% static 'Login.css' %}" > >


{% block head %}<div class ="boxt"><h2>Login</h2></div>{% endblock %}


{% block content %}
<div class = "boxp">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        {{ form.as_table }}
        <input type="submit" class="LoginB" value="Login" />
        {% if next == "/L/?next=/" %}
        <input type="hidden" name="next"  value="/" />
        {% else %}
        <input type="hidden" name="next" class="inputsHidden"  value="{{ next }}" />
        {% endif %}
    </form>
    <p> Don't have an account? <a class ="register" href="/register" >Register Here!</a></p>
    </div>
{% endblock %}

   
</html>
